body {
    background-color:transparent;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
h1 {
    color: black;
}
.gameDiv {
    
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(247, 247, 199);
    justify-content: space-around;
    margin-top: 100px;
    height: 180px;
   
}
.choiceBtn {
    padding: 20px;
    border-radius: 5px;
    width:150px;
    font-size: medium;
    color: black;
    font-weight: bold;
}
#winner {
    color: red;
    font-size: large;
}
#roundResult {
    color: blue;
}
#rocBtn {
    background-color: rgb(132, 214, 132);
}
#papBtn {
    background-color: white;
}
#sciBtn {
    background-color: silver;
}
.button {
    gap: 5px;
    
}